:root {
    --sansFont: "Inter", "思源黑体 CN";
    --titleFont: "InterDisplay", "思源黑体 CN";
    --monoFont: "JetBrains Mono", monospace, "思源黑体 CN";
    --fontSize: 14px;
    --control-height: 2.4em;
    --neutral-color-light: #f6f7f7;
    --neutral-color-dark: #e1e3e4;
    --accent-color: #3259e6;
    --accent-color-dim: #2d50cf;
    --accent-color-dim-2: #1f3ca8;
    --unit: calc(var(--fontSize)*0.5);
    --line-height: calc(var(--fontSize)*1.5);
    --baseline: var(--unit);
    --body-padding-x: calc(var(--unit)*8);
    --body-padding-y: calc(var(--unit)*8);
    --body-bleed: calc(var(--unit)*16);
    --body-max-width: calc(var(--unit)*152);
    --blockSpacingTop: 0px;
    --blockSpacingBottom: var(--line-height);
    --hr-weight: 2px;
    --h1-margin-bottom: var(--line-height);
    --h3-margin-bottom: calc(var(--unit)*0.5);
    --column-gap: calc(var(--unit)*8);
    --row-gap: calc(var(--unit)*8);
    --column-gap-compact: calc(var(--unit)*4);
    --row-gap-compact: calc(var(--unit)*2);
    --displayScale: 1;
    --pixel: 1px;
    --foreground-color-rgb: 0, 0, 0;
    --foreground-color-a: 1;
    --foreground-color-a-dimmed: 0.4;
    --foreground-color: rgba(var(--foreground-color-rgb), var(--foreground-color-a));
    --foreground-color-dimmed: rgba(var(--foreground-color-rgb), var(--foreground-color-a-dimmed));
    --background-color: #fff;
    --letterbox-color: #333;
    --box-link-hover-color: rgba(var(--foreground-color-rgb), 0.07);
    --accent-color-darkmode: color-mod(var(--blue) lightness(80%));
    --menu-active-color: var(--foreground-color);
    --menu-inactive-color: rgba(0, 0, 0, 0.3);
    --red: #f03009;
    --red-orange: #ff2e00;
    --hot-orange: #ff5c00;
    --orange: #ff7105;
    --brown: #716558;
    --warm-yellow: #ffe310;
    --yellow: #fff310;
    --light-yellow: #ffffb3;
    --green: #12c05b;
    --ocean-green: #008f5d;
    --pear-green: #77dd86;
    --blue: #0366d6;
    --sunset-pink: #ff7b81;
    --light-pink: #ffb3ba;
    --xlight-pink: #ffd1d9;
    --topbar-height: 48px;
    --control-panel-width-expanded: 384px;


}

@supports (font-variation-settings:normal) {
    :root {
        --sansFont: "Inter var", "思源黑体 CN";
        --titleFont: "InterDisplay var", "思源黑体 CN"
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:1.5dppx) {
    :root {
        --displayScale: 1.5;
        --pixel: 0.75px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:2.0), only screen and (min-resolution:2.0dppx) {
    :root {
        --displayScale: 2;
        --pixel: 0.5px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:2.5), only screen and (min-resolution:2.5dppx) {
    :root {
        --displayScale: 2.5;
        --pixel: 0.4px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:3.0), only screen and (min-resolution:3.0dppx) {
    :root {
        --displayScale: 3;
        --pixel: 0.3333333333px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:3.5), only screen and (min-resolution:3.5dppx) {
    :root {
        --displayScale: 4;
        --pixel: 0.25px
    }
}

body {
    overflow-x: hidden;
    background-color: #f1f3f4;
    height: 100vh;
    overflow: hidden
}

#root {
    height: 100%
}

* {
    font: inherit;
    line-height: inherit
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, grid, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, noscript, object, ol, output, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a, a:active, a:visited {
    color: inherit
}

:root {
    font-family: "Inter", "思源黑体 CN", -system-ui, system-ui, sans-serif;
    font-family: var(--sansFont), -system-ui, system-ui, sans-serif;
    font-size: 14px;
    font-size: var(--fontSize);
    line-height: 21px;
    line-height: var(--line-height);
    color: #000;
    color: var(--foreground-color);
    letter-spacing: -.01em;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-feature-settings: contextual common-ligatures;
    font-variant-ligatures: contextual common-ligatures
}

.text-not-selectable {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
}

.accent-link {
    color: #486df1;
    cursor: pointer
}

.accent-link:hover {
    text-decoration: underline
}

.ms-Dropdown-callout {
    box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0/18%), 0 1.2px 3.6px 0 rgb(0 0 0/15%) !important
}

.tabular-span {
    font-feature-settings: "tnum"1
}

.not-selectable, label, text {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

@media screen and (min-width:800px) {
    .control-panel-toggle {
        position: absolute;
        height: 48px;
        width: 20px;
        background: #fff;
        left: -20px;
        top: calc(50% - 24px);
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -moz-user-select: none;
        box-sizing: border-box;
        border: 1px solid #e1e3e4;
        border: 1px solid var(--neutral-color-dark);
        opacity: .5;
        transition: opacity .2s;
        cursor: pointer
    }

    .control-panel-toggle:hover {
        opacity: 1
    }

    .example-file-blob {
        width: 480px;
        border-radius: 3px;
        border: 1px solid #e1e3e4;
        border: 1px solid var(--neutral-color-dark);
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 144px 1fr;
        grid-column-gap: 16px;
        padding: 16px;
        cursor: pointer;
        transition: background-color .16s
    }

    .safe-area {
        width: 100%;
        height: 96px
    }

    .control-panel-mask {
        background: hsla(0, 0%, 100%, .8784313725490196);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 999999;
        margin-left: -16px;
        flex-flow: column
    }

    .control-panel-mask, .control-panel-mask-text {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .control-panel-mask-text {
        padding-bottom: 12px;
        max-width: 80%;
        text-align: center
    }

    .app-control-panel {
        background: #fff;
        width: 383px;
        /* width: var(--control-panel-width-expanded); */
        float: right;
        border-left: 1px solid #e1e3e4;
        border-left: 1px solid var(--neutral-color-dark);
        z-index: 9999;
        position: relative;
        height: calc(100vh - 48px)!important;
    }

    .app-chart-canvas, .app-control-panel {
        height: calc(100vh - 48px)!important;
        position: relative
    }

    .app-chart-canvas {
        width: calc(100vw - 384px);
        position: absolute;
        left: 0
    }

    .app-slider-container {
        width: calc(100% - 96px);
        position: relative;
        cursor: pointer
    }

    .app-slider-container>.app-slider-bar {
        background-color: rgba(241, 243, 244, .5019607843137255);
        transition: background-color .12s
    }

    .app-slider-container:hover>.app-slider-bar {
        background-color: rgba(72, 109, 241, .09411764705882353)
    }

    .core-svg-canvas {
        max-width: 90%;
        max-height: 90%;
        background-color: #fff;
        border: 1px solid #e1e3e4;
        border: 1px solid var(--neutral-color-dark);
        box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0/6%), 0 1.2px 3.6px 0 rgb(0 0 0/5%)
    }

    .core-svg-container {
        width: 100%;
        height: calc(100% - 48px);
        display: flex;
        align-items: center;
        justify-content: center
    }
}

.dynamic-time-text {
    font-feature-settings: "tnum"1
}

code {
    font-family: "JetBrains Mono", monospace, "思源黑体 CN";
    font-family: var(--monoFont)
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-track {
    background: #f6f7f7;
    background: var(--neutral-color-light)
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
    background: #e1e3e4;
    background: var(--neutral-color-dark)
}

.ms-DetailsList-headerWrapper>.ms-FocusZone {
    padding-top: 0 !important
}

.datagrid-collapsed-container>.datagrid-mask {
    position: absolute;
    z-index: 99999;
    color: rgba(50, 89, 230, 0);
    display: flex;
    background-color: rgba(243, 242, 241, .1);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color .2s;
    cursor: pointer;
    font-weight: 700
}

.datagrid-collapsed-container:hover>.datagrid-mask {
    background-color: rgba(243, 242, 241, .8);
    color: #3259e6
}

.child-vertical-centered {
    display: flex;
    align-items: center
}

.selection-button-container {
    position: relative;
    border-radius: 2px;
    height: 100%;
    background: #f6f7f7;
    background: var(--neutral-color-light);
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    width: 100%
}

.selection-separator {
    background: #e1e3e4;
    background: var(--neutral-color-dark);
    position: absolute;
    height: 24px;
    width: 1px;
    border-radius: 1px;
    display: inline-block;
    transition: all .2s
}

.selection-button-entity {
    position: relative;
    opacity: .9;
    cursor: pointer;
    transition: all .16s
}

.selection-button-entity, .selection-button-indicator {
    display: inline-flex;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    height: 100%;
    align-items: center;
    justify-content: center
}

.selection-button-indicator {
    background: #3259e6;
    background: var(--accent-color);
    position: absolute;
    transition: all .15s
}

.selection-button-entity:hover {
    font-weight: 600;
    opacity: 1;
    background: rgba(0, 0, 0, .0392156862745098)
}

.selection-button-entity:active {
    background: rgba(0, 0, 0, .10196078431372549)
}

.selection-button-entity-selected {
    font-weight: 700 !important;
    color: #fff;
    opacity: 1
}

.error-dialog>div>div>.ms-Dialog-lgHeader {
    border-top: 4px solid #ac0c0c !important
}

.alert-dialog>div>div>.ms-Dialog-lgHeader {
    border-top: 4px solid #f07e05 !important
}

.error-dialog>div>div>.ms-Dialog-lgHeader>.ms-Dialog-header>.ms-Dialog-title {
    color: #ac0c0c !important
}

.alert-dialog>div>div>.ms-Dialog-lgHeader>.ms-Dialog-header>.ms-Dialog-title {
    color: #f07e05 !important
}

.target-of-interest {
    display: inline-block;
    background-color: #3259e6;
    height: 20px;
    font-weight: 600;
    font-feature-settings: "tnum";
    display: flex;
    align-items: center;
    margin-right: 4px;
    border-radius: 10px;
    padding: 0 6px;
    box-sizing: border-box;
    justify-content: center;
    color: #fff
}

.selected-multi-op {
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis
}

.ms-Label.ms-Slider-value {
    width: auto;
    min-width: 64px
}

.unit-ms>div>.ms-Label.ms-Slider-value:after {
    content: "ms";
    padding-left: 4px;
    color: #b1afb4;
    display: inline-block
}

.unit-items>div>.ms-Label.ms-Slider-value:after {
    content: "bars";
    padding-left: 4px;
    color: #b1afb4;
    display: inline-block
}

#modal-dragger {
    cursor: move
}

.rein-container {
    position: absolute
}

.rein {
    fill: #3259e6;
    stroke: rgba(50, 89, 230, 0);
    stroke-width: 7px
}

.rein-line-hint {
    stroke: #3259e6;
    pointer-events: none;
    stroke-dasharray: 5, 5
}

.rein-x {
    cursor: ew-resize
}

.rein-y {
    cursor: ns-resize
}

.rein-circle {
    pointer-events: none
}

.rein-circle, .rein-se {
    stroke-width: 1px;
    fill: #fff;
    stroke: #3259e6
}

.rein-se {
    cursor: nwse-resize
}

.rein-e {
    cursor: ew-resize
}

.rein-e, .rein-n {
    stroke-width: 1px;
    fill: #fff;
    stroke: #3259e6;
    pointer-events: none
}

.rein-n {
    cursor: ns-resize
}

.rein-ne {
    stroke-width: 1px;
    fill: #fff;
    stroke: #3259e6;
    cursor: nesw-resize
}

.controller-activator {
    fill: rgba(50, 89, 230, 0);
    cursor: move
}

.controller-activator:hover {
    fill: rgba(50, 89, 230, .12549019607843137);
    cursor: move
}

.ms-Button--commandBar {
    height: 100% !important;
    margin: 0 !important
}

.example-file-blob:hover {
    background-color: rgba(0, 0, 0, .03137254901960784)
}

.example-grid>span {
    padding: 0 4px
}

.example-responsive-grid {
    width: 100%;
    display: grid;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr
}

@media screen and (max-width:1200px) {
    .example-responsive-grid {
        grid-template-columns: 1fr
    }
}

@media screen and (max-width:800px) {
    .control-panel-toggle {
        display: none
    }

    .example-file-blob {
        width: 100%;
        border-radius: 3px;
        border: 1px solid #e1e3e4;
        border: 1px solid var(--neutral-color-dark);
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 144px 1fr;
        grid-column-gap: 16px;
        padding: 16px;
        cursor: pointer;
        transition: background-color .16s
    }

    .app-control-panel {
        background: #fff;
        height: calc(100vh - 48px - 80vw);
        width: 100vw;
        border-top: 1px solid #e1e3e4;
        border-top: 1px solid var(--neutral-color-dark)
    }

    .app-chart-canvas {
        height: 80vw;
        width: 100vw;
        position: relative
    }

    .app-slider-container {
        width: calc(100% - 96px);
        position: relative;
        cursor: pointer
    }

    .app-slider-container>.app-slider-bar {
        background-color: rgba(241, 243, 244, .5019607843137255);
        transition: background-color .12s
    }

    .app-slider-container:hover>.app-slider-bar {
        background-color: rgba(72, 109, 241, .09411764705882353)
    }

    .core-svg-canvas {
        max-width: 90%;
        max-height: 90%;
        background-color: #fff;
        border: 1px solid #e1e3e4;
        border: 1px solid var(--neutral-color-dark);
        box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0/6%), 0 1.2px 3.6px 0 rgb(0 0 0/5%)
    }

    .core-svg-container {
        height: calc(100% - 48px);
        justify-content: center
    }

    .control-panel-mask, .core-svg-container {
        width: 100%;
        display: flex;
        align-items: center
    }

    .control-panel-mask {
        background: hsla(0, 0%, 100%, .8784313725490196);
        height: 100%;
        position: absolute;
        z-index: 999999;
        margin-left: -16px;
        flex-flow: column
    }

    .control-panel-mask-text {
        padding-bottom: 12px;
        max-width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .safe-area {
        width: 100%;
        height: 108px
    }

    .file-name-nav {
        max-width: calc(100vw - 160px);
        overflow: hidden
    }
}

.ms-ContextualMenu-Callout {
    margin-top: 8px
}

.ms-ContextualMenu-Callout, .ms-TeachingBubble-bodyconten {
    box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0/22%), 0 4.8px 14.4px 0 rgb(0 0 0/18%) !important
}

.ms-ContextualMenu-Callout>.ms-Callout-beak {
    background-color: #1c1b1a
}

p {
    padding-bottom: 8px
}

@media (min-width:480px) {
    .alert-dialog>.ms-Dialog-main, .error-dialog>.ms-Dialog-main {
        max-width: 480px !important;
        min-width: 320px !important
    }
}

@media (max-width:480px) {
    .alert-dialog>.ms-Dialog-main, .error-dialog>.ms-Dialog-main {
        max-width: 98vw !important;
        min-width: 96vw !important
    }
}