#bar-0 {
    fill: #2FB0F9;
}

#bar-1 {
    fill: #5FCDBF;
}

#bar-2 {
    fill: #DC6C8B;
}

#bar-3 {
    fill: #F1C967;
}

#bar-4 {
    fill: #DE8443;
}

#bar-5 {
    fill: #D051B9;
}

#bar-6 {
    fill: #3F9387;
}

#bar-7 {
    fill: #D1A875;
}

#bar-8 {
    fill: #EDB6DF;
}

#bar-9 {
    fill: #97BAFF;
}